<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="extractor.com.helloworld" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/curso_android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exercicios"
            android:label="@string/title_activity_exercicios" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.linear.LinearLayoutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".layout.relative.RelativeLayoutActivity"
            android:label="@string/title_activity_segundo_exercicio" >
        </activity>
        <activity
            android:name=".layout.table.TableLayoutActivity"
            android:label="@string/title_activity_terceiro_exercicio" >
        </activity>
        <activity
            android:name=".layout.frame.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".view.list.ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".view.grid.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name=".view.grid.SingleViewActivity"
            android:label="@string/title_activity_single_view" >
        </activity>
        <activity
            android:name=".layout.tab.LayoutTabActivity"
            android:label="@string/title_activity_layout_tab" >
        </activity>
        <activity
            android:name=".text.toast.ToastActivity"
            android:label="@string/title_activity_toast" >
        </activity>
        <activity
            android:name=".text.autocomplete.AutoCompleteActivity"
            android:label="@string/title_activity_auto_complete" >
        </activity>
        <activity
            android:name=".fragments.FragmentsActivity"
            android:label="@string/title_activity_frament" >
        </activity>
        <activity
            android:name=".widget.buttons.ImageButtonActivity"
            android:label="@string/title_activity_image_button" >
        </activity>
        <activity
            android:name=".widget.spinners.SpinnerActivity"
            android:label="@string/title_activity_spinner" >
        </activity>
        <activity
            android:name=".widget.contextmenu.ContextMenuActivity"
            android:label="@string/title_activity_context_menu" >
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".camera.CameraAcessActivity"
            android:label="@string/title_activity_camera_acess" >
        </activity>
        <activity
            android:name=".sms.SmsActivity"
            android:label="@string/title_activity_sms" >
        </activity>
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".GPS.GpsActivity"
            android:label="@string/title_activity_gps" >
        </activity>
    </application>

</manifest>
